body {
  font-family: sans-serif;
  background-color: #2ECC71; ;
  margin: 0;
  padding: 20px;
}

/* Container Styles */
.container {
  width: 400px;
  margin: 0 auto;
  padding: 30px; 
  border: 1px solid #ddd; 
  border-radius: 5px; 
}

/* Header Styles */
h1 {
  text-align: center;
  color: #f6f6f6; 
  font-size: 24px; 
  margin-bottom: 20px; 
}

/* Form Styles */
.form {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
}

/* Form Input Styles */
.text,
.email {
  width: 95%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc; 
  border-radius: 3px;
}

/* Label Styles */
.label_terms {
  font-size: 12px;
  color: #333;
}

/* Checkbox Styles */
.checkbox {
  margin-right: 5px;
}

/* Submit Button Styles */
input[type="submit"] {
  background-color: #2e8b57;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer; 
}

/* Link Styles */
a {
  color: #2e8b57; 
  text-decoration: none; 
}

.copywrite {
  text-align: center; 
  margin-top: 30px;
  color: #ffffff; 
}
/* Responsive Styles */
@media (max-width: 1024px) {
  .container {
    width: 60%;
    padding: 20px;
  }

  .text,
  .email {
    width: 90%;
  }

  input[type="submit"] {
    width: 95%;
  }
}

@media (max-width: 768px) {
  .container {
    width: 80%;
    padding: 15px;
  }

  h1 {
    font-size: 22px;
  }

  .text,
  .email {
    width: 88%;
  }

  input[type="submit"] {
    width: 92%;
  }
}

@media (max-width: 480px) {
  .container {
    width: 100%;
    margin: 0 10px;
    padding: 10px;
  }

  h1 {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .text,
  .email {
    width: 86%;
    padding: 8px;
  }

  input[type="submit"] {
    width: 90%;
    padding: 8px;
  }
}
